<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyong.springbootapi.mapper.StudentMapper">
    <select id="getPageInfo" resultType="student">
        select * from t_student
        <where>
        1=1
            <if test="student.name!=null and student.name!=''">
                AND name=#{student.name}
            </if>
        </where>
    </select>
</mapper>
